.active {
    height: max-content;
    width: 100vw;
}

.desktop {
    display: none;
}

.overflow {
    overflow-y: hidden;
    .header {
        opacity: 1;
        .menu-burger {
            background: none;
            border: 2px solid #7E7370;
            border-radius: 6px;
            height: 54px;
            width: 54px;
            right: 32px;
            top: 50px;
            z-index: 3;
            &::before {
                width: 27.67px;
                height: 1.59px;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(-45deg);
            }
            &:after {
                width: 27.67px;
                left: 50%;
                height: 1.59px;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(45deg);
            }
        }
        &-block {
            display: none;
        }
    }
}

.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    height: 81px;
    position: fixed;
    width: 100vw;
    z-index: 2;
    .container {
        padding: 0 10px;
    }
    .menu-burger {
        background: #7E7370;
        height: 4px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 46px;
        &::before {
            background: #7E7370;
            height: 4px;
            content: '';
            position: absolute;
            top: calc(50% - 7px);
            transform: translateY(-50%);
            width: 46px;
        }
        &:after {
            background: #7E7370;
            content: '';
            height: 4px;
            position: absolute;
            top: calc(50% + 7px);
            transform: translateY(-50%);
            width: 26px;
        }
    }
    &-block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: 70px;
        position: relative;
        a {
            color: #7E7370;
            text-decoration: none;
        }
    }
}

.menu {
    background: #fff;
    display: none;
    margin: 0 -15px;
    padding: 60px 45px 93px;
    position: relative;
    a {
        color: #000;
        display: block;
        font-size: 26px;
        font-weight: 700;
        line-height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 8vh;
        width: max-content;
        position: relative;
        z-index: 2;
        &:hover {
            color: #007FC3;
            text-decoration: underline;
        }
        &:active {
            color: #007FC3;
            text-decoration: underline;
        }
    }
    .accordion__body {
        display: none;
    }
    p {
        @include mr-pd;
    }
    .accordion__body {
        margin: 25px 0 0 30px;
        a {
            font-size: 20px;
            font-weight: 600;
            line-height: 100%;
            text-transform: inherit;
        }
    }
    .active1 {
        color: #007FC3;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 1024px) {
    .desktop {
        display: block;
    }
    .mobile,
    .menu-burger {
        display: none;
    }
    .header {
        .container {
            display: flex;
            justify-content: space-between;
        }
    }
    .menu {
        background: none;
        display: block;
        padding: 0;
        margin: 10px 0;
        ul {
            align-items: baseline;
            display: flex;
            justify-content: space-between;
            padding: 0;
            position: relative;
            a {
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                margin: 0 25px 0 0;
                text-transform: lowercase;
            }
            li {
                list-style-type: none;
                position: relative;
                height: min-content;
                .product {
                    background: #fff;
                    display: none;
                    width: fit-content;
                    a {
                        padding: 10px 0;
                    }
                }
                &:hover {
                    .product {
                        display: block;
                    }
                }
            }
        }
    }
}