@keyframes pulse {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes movementX {
    from {
        transform: translate(-7px);
    }
    to {
        transform: translate(12px);
    }
}

@keyframes movementY {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes circling {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bubbles {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    90% {
        opacity: 0;
    }
    95% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}