@mixin grid {
    display: grid;
    gap: 120px;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (min-width:1024px) {
    .feedback {
        &-block {
            background: #FFFFFF;
            border: 1.5px solid #7E7370;
            max-width: 690px;
            padding: 33px 67px;
            .form-group {
                max-width: max-content;
                input {
                    padding: 10px 20px;
                    height: 23px;
                    width: 233px;
                    &+input {
                        margin-left: 8px;
                    }
                }
                .button {
                    height: auto;
                    padding: 14px 20px;
                }
            }
        }
    }
    main {
        h1 {
            font-size: 50px;
            margin: 0 0 10px;
        }
        .welcome {
            padding: 170px 0;
            .logo {
                display: none;
            }
            &-text {
                max-width: 900px;
                p {
                    line-height: 38px;
                }
            }
            .form-feedback {
                bottom: 10%;
                left: auto;
                right: 0;
                position: fixed;
                z-index: 5;
            }
            .form-group {
                top: auto;
                bottom: 30px;
                max-height: 270px;
                max-width: 420px;
                padding: 36px 30px 20px 40px;
                right: 50px;
                z-index: 5;
                h2 {
                    font-size: 25px;
                    line-height: 22px;
                    margin: 0 0 18px;
                }
                input {
                    margin: 3px 0;
                    max-width: 270px;
                }
                .button {
                    margin-top: 5px;
                }
                img {
                    display: none;
                }
                .close-form {
                    cursor: pointer;
                    height: 31px;
                    right: 21px;
                    top: 8px;
                    width: 31px;
                    &::before,
                    &::after {
                        width: 16px;
                    }
                }
            }
        }
        .benefits {
            &-text {
                max-width: 580px;
                h2 {
                    line-height: 40px;
                }
            }
            .logo {
                display: block;
            }
            &-blocks {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
            &-block {
                display: grid;
                gap: 20px 60px;
                grid-template-columns: 1fr 1fr;
                max-width: 700px;
                &__item {
                    margin-top: 40px;
                }
            }
        }
        .product {
            &-blocks {
                @include grid;
            }
            &-block {
                &+.product-block {
                    margin-top: 0;
                }
            }
            h2 {
                width: max-content;
            }
        }
        .target {
            &-block {
                display: grid;
                gap: 50px;
                grid-template-columns: 55% 45%;
                img {
                    width: 985px;
                    height: 472px;
                    margin-left: 20%;
                }
            }
        }
        .info {
            margin: 50px 0 95px;
            &-blocks {
                @include grid;
                img {
                    width: 100%;
                }
            }
            &-block {
                &:nth-child(2) {
                    margin-top: 220px;
                }
            }
        }
        .faq {
            .accordion {
                &__text {
                    padding: 40px 120px;
                    span {
                        border-radius: 6px;
                        left: 37px;
                        height: 31px;
                        top: 40px;
                        width: 31px;
                        &::before,
                        &::after {
                            height: 1.6px;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
}
